@import '../Root/common.scss';
.sectionLogin {
    position: relative;
    width: 95vw;
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .form {
        margin: 0 auto;
    }
    .nav {
        ul {
            // margin-top: 30px;
            list-style: none;
            text-align: center;
            a {
                text-decoration: none;
                color: $text-first-color;
                cursor: pointer;
            }
        }
    }
    .returnButton {
        position: absolute;
        bottom: -50px;
        right: 0;
    }
    @media (orientation: landscape) and (min-width: 1024px) {
        .nav {
            ul {
                margin-top: 30px;
            }
        }
        .returnButton {
            bottom: -150px;
            right: 50px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .input {
        @include input;
    }
    .button {
        @include button;
    }
    @media (orientation: landscape) and (min-width: 1024px) {
        width: 30%;

        .input {
            height: 50px;
        }
    }
}
