@import '../Root/common.scss';
.section-lost-password {
    width: 95vw;
    // margin: 50px auto;
    &__form {
        width: 100%;
        height: 250px;
        &__label {
            flex-basis: 70%;
            text-align: center;
        }
        &__input {
        }
    }
    &__info {
        text-align: center;
        color: $second-color;
    }
    &__return-button {
        text-align: right;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label {
        flex-basis: 30%;
        margin: 10px 1em;
        text-align: center;
    }
    &__input {
        @include input;
    }
    &__button {
        @include button;
    }
}
