@import '../Root/common.scss';
.section-lost-password {
    width: 95vw;
    // margin: 50px auto;
    &__form {
        width: 100%;
        height: 250px;
        &__label {
            flex-basis: 70%;
            text-align: center;
        }
        &__input {
        }
    }
    &__info {
        text-align: center;
        color: $second-color;
    }
    &__return-button {
        text-align: right;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label {
        flex-basis: 30%;
        margin: 10px 1em;
        text-align: center;
    }
    &__input {
        flex-basis: 90%;
        height: 50px;
        line-height: 1.3em;
        background: transparent;
        margin: 0 1.5em;
        color: $text-first-color;
        padding: 12px;
        @include neustyle($basic-color, false, topcenter, true);
    }
    &__button {
        margin: 20px 0;
        padding: 10px 20px;
        border: none;
        color: $text-first-color;
        background-color: $basic-color;
        @include neustyle();
        font-size: $m-font-size;
        cursor: pointer;
        transition: 0.3s;
    }
    &__button:hover {
        // background-color: $third-color;
        @include neustyle($inset: true);
        color: $text-second-color;
    }
}
