@import '../../views/Root/common.scss';

.loginInfo {
    position: absolute;
    margin-right: 15px;
    top: 17px;
    right: 69px;

    @media (orientation: landscape) and (min-width: 1024px) {
        right: 20px;
    }

    & .link {
        text-decoration: none;
        color: $text-first-color;
    }
}
