@import '../Root/common.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;

    @media (orientation: landscape) and (min-width: 1024px) {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        & h1 {
            font-size: $l-font-size * 4;
            margin: 0;
            margin-bottom: 0.3em;
            text-align: center;
        }
        & p {
            font-size: $m-font-size * 1.2;
            text-align: center;
        }
    }
    img {
        margin: 0;

        @media (orientation: landscape) and (min-width: 1024px) {
            margin-right: 20px;
        }
    }
}
