@import '../Root/common.scss';
.freeStart {
    position: relative;
    width: 95vw;
    margin: -20px auto 0 auto;
    text-align: center;
    .main {
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        .vechicleDetails,
        .infoDetails,
        .loadDetails {
            flex-basis: 33%;
            @include element;
        }
    }
    .returnButton {
        position: absolute;
        margin-bottom: 20px;
        bottom: -70px;
        right: 0;
    }
    @media (orientation: landscape) and (min-width: 1024px) {
        margin: -70px auto 0 auto;
        .main {
            flex-direction: row;
            height: auto;
        }
        .returnButton {
            bottom: -80px;
            right: 50px;
        }
    }
}
