@import '../Root/common.scss';
.freeStart {
    position: relative;
    width: 95vw;
    margin: -20px auto 0 auto;
    text-align: center;
    .main {
        margin: 20px auto;
        width: 95%;
        height: 900px;
        border: 1px solid white;
    }
    // .returnButton {
    //   position: absolute;
    //   margin-bottom: 20px;
    //   bottom: -70px;
    //   right: 0;
    // }
    // @media (orientation: landscape) and (min-width: 1024px) {
    //   margin: -70px auto 0 auto;
    //   &__return-button {
    //     bottom: -80px;
    //     right: 50px;
    //   }
    // }
}
