@import "../Root/common.scss";
.sectionRegistration {
  position: relative;
  width: 95vw;
  margin: 30px auto;
  text-align: center;
  .returnButton {
    position: absolute;
    bottom: -50px;
    right: 0;
  }
  @media (orientation: landscape) and (min-width: 1024px) {
    .returnButton {
      bottom: -150px;
      right: 50px;
    }
  }
  .nav {
    ul {
      margin-top: 20px;
      list-style: none;
      text-align: center;
      a {
        text-decoration: none;
        color: $text-first-color;
        cursor: pointer;
      }
    }
  }
}
.registrationForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  .input {
    padding: 10px;
    width: 100%;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    max-width: 600px;
    outline: none;
    margin-bottom: 15px;
    &::placeholder {
      color: white;
    }
  }
  .inputSubmitButton {
    margin-top: 20px;
    max-width: 150px;
    background: white;
    border: none;
    color: #1b83de;
    border-radius: 3px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
