@import '../Root/common.scss';
.section-lost-password {
    width: 95vw;
    margin: 50px auto;
    &__form {
        width: 100%;
        height: 250px;
        label {
            flex-basis: 70%;
            text-align: center;
        }
    }
    &__info {
        text-align: center;
        color: $second-color;
    }
    &__return-button {
        text-align: right;
    }
}
